{{ 'style_new_image_banner.css' | asset_url | stylesheet_tag }}

<section class="section_new_banner">
    <div class="image_banner">
        {% if section.settings.image_new_banner != blank %}
            <img src="{{ section.settings.image_new_banner}}" alt="" width="100%" height="100%">
        {% else %}
            <img src="{{ "Banner new.svg" | asset_url }}" alt="" width="100%" height="100%">
        {% endif %}
    </div>
    <div class="banner_text">
        <div class="div_banner_text">
            <h1>
                {% if section.settings.banner_H1 != blank %}
                    {{ section.settings.banner_H1}}
                    {% else %}
                        Luxury Beauty, <br>Exclusive prices.
                    {% endif %}
            </h1>
            <p>
                {% if section.settings.banner_P != blank %}
                    {{ section.settings.banner_P}}
                    {% else %}
                        Discover your favourites at Editor’s Pick,<br> where industry prices meet..
                    {% endif %}
            </p>
            <a href="{{ section.settings.banner_url }}">
                     {% if section.settings.banner_href != blank %}
                    {{ section.settings.banner_href}}
                    {% else %}
                        Shop now premium products
                    {% endif %} 
            </a>
        </div>
    </div>
</section>



{% schema %}
{
  "name": "new banner image",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_new_banner",
      "label": "image banner"
    },
    {
      "type": "text",
      "id": "banner_H1",
      "label": "H1 banner"
    },
    {
      "type": "text",
      "id": "banner_P",
      "label": "p banner"
    },
    {
      "type": "text",
      "id": "banner_href",
      "label": "button banner"
    },
    {
      "type": "url",
      "id": "banner_url",
      "label": "button link"
    }
    
  ],
   "presets": [
    {
      "name": "New Banner Image"
    }
  ]
 
  
}
{% endschema %}
